@import '../vars';
@import '../mixins';

.special__container {
    position: relative;
    flex-direction: column;
    overflow: hidden;
    padding-top: $main-offset;
}

.card__new-price {
    margin-right: $card-gap;
    color: $secondary;
    font: $regular-hightMedium-font;
}

.special__slide {
    max-width: 296px;

    &_big {
        max-width: 624px;

        &::after {
            content: '';
            bottom: $card-gap;
            right: $card-gap;
            width: 230px;
            height: 107px;
            position: absolute;
            background-image: url('../img/special-sofa.webp');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.special__slide_big picture,
.card__image_big {
    width: 450px;
    height: 245px;
}

.swiper-buttons {}

.special {
    &__container {
        position: relative;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 26px;
    }

    &__card {
        grid-template-rows: 1fr auto auto auto;
        height: 511px;

        picture {
            align-self: end;
            margin-bottom: 16px;
        }

        &_big {}
    }

    &__swiper-buttons {
        position: absolute;
        right: 3px;
        top: 92px;
        width: 119px;
    }

    &__button {
        width: 31px;
        height: 31px;
        border-radius: 50%;

        &_rotate {
            >svg {
                transform: rotate(180deg);
            }
        }
    }
}

.special__swiper-wrappeer {
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow: hidden;
    background-color: $grey_light;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: end;
    padding: $card-gap;
    transition: $transitionBoxShadow;

    &__marker {
        position: absolute;
        letter-spacing: 0;
        top: $card-gap;
    }

    picture {
        justify-self: center;
        margin-left: -$card-gap;
        margin-right: - $card-gap;
    }

    &:hover {
        -webkit-box-shadow: 0px 0px 14px 8px rgba(34, 60, 80, 0.08);
        -moz-box-shadow: 0px 0px 14px 8px rgba(34, 60, 80, 0.08);
        box-shadow: 0px 0px 14px 8px rgba(34, 60, 80, 0.08);
    }

    &-title {
        font: $regular-preHight-font;
        color: $black;
        overflow: hidden;
    }

    &__image {
        align-self: center;
        object-fit: contain;
    }

    &__name {
        margin: 0;
        margin-bottom: $card-row-gap;

        &-model {
            white-space: nowrap;
        }

        &_big {
            max-width: 45%;
        }
    }

    &__price {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $card-row-gap;
        align-self: end;
        overflow: hidden;
    }

    &__old-price {
        color: $grey;
        font: $regular-medium-font;
    }

    &__button {
        align-self: end;
        justify-self: start;
        padding: 17px 33px;
    }
}

.special__button_prev {
    transform: rotate(0) !important;
}

.special__button_next {
    right: 33px;
}

.marker {
    background-image: url('../img/mark.webp');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    display: inline-flex;
    align-self: start;
    align-items: center;
    justify-content: center;
    color: $white;
    font: $bold-Light-font;
    width: 92px;
    height: 34px;

    &__price {
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
    }
}

.swiper-button-prev {
    &::after {
        display: none;
    }
}

.swiper-button-next {
    &::after {
        display: none;
    }
}