<section class="about-product">
  <div class="container container-about-product">
    <div class="about-product__top about-product-section">
      <div class="swiper card-productSwiper card-productSwiper2">
        <div class="swiper-wrapper card-productSwiper2__wrapper" data-graph-path="swiper-modal">
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D-31_big.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small1.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small2.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small3.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small4.png" alt="Большой синий диван" />
          </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
      </div>
      <div thumbsSlider="" class="swiper card-productSwiper card-productSwiper1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D-31_big.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small1.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small2.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small3.png" alt="Большой синий диван" />
          </div>
          <div class="swiper-slide">
            <img class="card-product-img" src="img/D31_small4.png" alt="Большой синий диван" />
          </div>
        </div>
      </div>
      <div class="about-product__top-right">
        <div class="about-product__raiting raiting">
          <svg class="raiting__star">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="raiting__text">4.8</span>
        </div>
        <h1 class="about-product__title">
          Диван тканевый прямой “D&#8209;31”
        </h1>
        <p class="about-product__title-descr">
          Мини 120 см без ящика Stark синий (Рогожка)
        </p>
        <p class="about-product__price">28 490 руб</p>
        <button class="about-product__bue-btn btn btn-reset primary-btn" data-graph-path="buy-modal">Купить в один
          клик</button>
        <button class="about-product__add-btn btn btn-reset">+ Добавить в корзину</button>
      </div>

    </div>
    <div class="about-product__bottom about-product-section">
      <div class="about-product__bottom-left">
        <h4 class="about-product-section__descr-title">Опорный механизм</h4>
        <p class="about-product__description about-product__description_first">Опорный механизм напоминает пантограф, к
          которому добавили дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую
          часть спального места. Заключительный штрих — опустить спинку.
        </p>
        <p class="about-product__description">
          Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но
          подросток справится.
        </p>
      </div>
      <ul class="about-product__characteristics-list list-reset">
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Гарантия</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">18 месяцев</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Артикул</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">AAA41269004</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Длина</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">163 см</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Высота</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">90 см</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Глубина</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">108 см</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Спальное место</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">200 см х 125 см</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Высота посадки</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">45 см</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Механизм</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Опорный</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Тип обивки</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Рогожка</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Цвет</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Синий</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Наполнитель</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Независимый пружинный блок</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Материал каркаса</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Металл. рама с дерев. латами</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Количество мест</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Двухместные</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Категория</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Прямые тканевые диваны</span>
        </li>
        <li class="aboutproduct__characteristics-item">
          <span class="characteristic-name">Возврат</span>
          <span class="border-dots"></span>
          <span class="characteristic-value">Условия</span>
        </li>
      </ul>
    </div>
  </div>
</section>
