<div class="catalog__sidebar sidebar">
  <h1 class="visually-hidden">Каталог магазина</h1>
  <div class="sidebar__form form">
    <p class="sidebar__name">Фильтровать по:</p>
    <div class="sidebar__form-wrapper">
      <div class="sidebar__categories flag-wrapper">
        <button class="sidebar__title hight-index sidebar-filter-button btn-reset">Категория</button>
        <ul class="categories-list sidebar-list medium-index  list-reset">
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories" checked>
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Диваны</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Кресла</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Пуфы</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Кровати</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Тумбы</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Комоды</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Стулья</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Столы</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          <li class="categories-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_categories">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Аксессуары</span>
            </label>
          </li>
          
          <li class="categories-list__button-wrapper">
            <button class="more-btn btn-reset"></button>
          </li>
        </ul>
      </div>

      <div class="sidebar__price price-filter flag-wrapper">
        <button class="sidebar__title hight-index sidebar-filter-button btn-reset">Цена</button>
        <div class="price-filter__inputs-wrapper medium-index sidebar-list">
          <label class="price-filter__label sidebar__form-item" for="input-0">
            <span class="price-filter__text">от</span>
            <input class="price-filter__input" id="input-0" placeholder="2000" min="0" max="200000" type="number">
          </label>
          <label class="price-filter__label sidebar__form-item" for="input-1">
            <span class="price-filter__text">до</span>
            <input class="price-filter__input" id="input-1" placeholder="150000" min="0" max="200000" type="number">
          </label>
        </div>
        <div class="sidebar__slider" id="range-slider"></div>
      </div>

      <div class="sidebar__discounts flag-wrapper">
        <button class="sidebar__title sidebar-filter-button normal-index btn-reset">Скидки</button>
        <ul class="discounts-list low-index  list-reset sidebar-list">
          <li class="discounts-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input class="check__input check__input_discount" type="radio" name="contact" value="text">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Более 5 000</span>
            </label>
          </li>
          <li class="discounts-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input class="check__input check__input_discount" type="radio" name="contact" value="text">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Менее 5 000</span>
            </label>
          </li>
          <li class="discounts-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input class="check__input check__input_discount" checked type="radio" name="contact" value="text">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Не важно</span>
            </label>
          </li>
        </ul>
      </div>

      <div class="sidebar__colors flag-wrapper">
        <button class="sidebar__title normal-index sidebar-filter-button btn-reset">Цвет</button>
        <ul class="colors-list low-index sidebar-list list-reset">
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Коричневый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Черный</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Бежевый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Серый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Белый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Синий</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors" checked>
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Оранжевый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Желтый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="colors-item sidebar__form-item">
            <label class="sidebar__form-label check">
              <input type="checkbox" class="check__input check__input_colors">
              <span class="check__box check__box_big">
                <svg class="check__big-marker" width="15" height="12" viewBox="0 0 15 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.00002L5.52769 10.5277L13.6473 1.40808" stroke="white" stroke-width="2" />
                </svg>
              </span>
              <span>Зеленый</span>
            </label>
          </li>
          <li class="categories-list__button-wrapper">
            <button class="more-btn btn-reset"></button>
          </li>
        </ul>
      </div>
      <article class="sidebar-card">
        <p class="sidebar-card__text">Оксфорд&nbsp;1950</p>
        <p class="sidebar-card__description">Новая&nbsp;коллекция изысканных&nbsp;кресел</p>
        <a href="#" class="sidebar-card__link circle-effects">
          <span class="sidebar-card__link-text">В каталог</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <circle cx="11" cy="11" r="10" stroke="#A65CF0" stroke-width="2" />
          </svg>
        </a>
      </article>
    </div>
  </div>
</div>
<script src="nouislider.min.js"></script>
