<section class="cooperations">
  <div class="container cooperations__container">
    <div class="cooperations__wrapper">
      <h2 class="cooperations__title title">Сотрудничество</h2>
      <div class="suppliers">
        <h3 class=" suppliers__title cooperations__small-title title">Поставщикам</h3>
        <p class="suppliers__paragraph cooperations-paragraph">При планировании обстановки торгового помещения важно
          обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и
          хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные
          предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом
          нагрузки от поступающего трафика.</p>
      </div>
      <div class="profits">
        <h3 class="profits__title cooperations__small-title">Что вы получаете?</h3>
        <p class="profits__paragraph cooperations-paragraph profits__paragraph_first">Мы ценим идеи и вдохновение и
          предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично
          дополнит любой современный проект.</p>
        <p class="profits__paragraph cooperations-paragraph profits__paragraph_second">Комплексное решение для красивого
          и функционального обустройства любых пространств. </p>
        <p class="profits__paragraph cooperations-paragraph profits__paragraph_third">В ассортименте представлены все
          товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных
          пространствах, Open Space, гостевых и переговорных комнатах.</p>
      </div>

      <div class="advantage">
        <h3 class="advantage__title cooperations__small-title title">Ваши преимущества от сотрудничества</h3>
        <h4 class="advatage__paragraph-title">Возможность 1:</h4>
        <p class="advantage__paragraph cooperations-paragraph advantage__paragraph_first">Создавайте незабываемые
          впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером
          атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого
          пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем
          правильно выбрать мебель.</p>
        <h4 class="advatage__paragraph-title">Возможность 2:</h4>
        <p class="advantage__paragraph cooperations-paragraph advantage__paragraph_second">Мы предлагаем застройщикам,
          работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора
          комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с
          образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант
          меблировки, который удовлетворит даже самые взыскательные ожидания. </p>
      </div>

      <div class="warranty">
        <h3 class="warranty__title cooperations__small-title title">Гарантии</h3>
        <ol class="warranty-list list-reset">
          <li class="warranty-item ">
            <span class="warranty__marker">1.</span>
            <p class="warranty__paragraph cooperations-paragraph warranty__paragraph_first">
              При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на
              соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает
              право предъявления претензий, которые можно выявить при приемке товара.
            </p>
          </li>
          <li class="warranty-item">
            <span class="warranty__marker">2.</span>
            <p class="warranty__paragraph cooperations-paragraph warranty__paragraph_second">
              На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца),
              гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения
              товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от
              товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть
              использован исключительно приобретающим его потребителем.
            </p>
          </li>
          <li class="warranty-item">
            <span class="warranty__marker">3.</span>
            <p class="warranty__paragraph cooperations-paragraph warranty__paragraph_third">
              Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские
              свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной
              стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент
              оплачивает услуги доставки.
            </p>
          </li>
        </ol>
        <span class="warranty__note">
          Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев
        </span>
      </div>
    </div>
  </div>
</section>
