<section class="glad">
  <div class="glad__container container">
    <h2 class="glad__title title">Мы всегда вам рады!</h2>
    <div class="glad__left">
      <div class="glad__text-content">
        <span>Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность
          распределения внутренних резервов и&#8209;ресурсов.</span>
        <div class="tooltip">
          <button class="tooltip__btn btn-reset" aria-label="кнопка с подсказкой" aria-describedby="tooltip-1">
          </button>
          <div class="tooltip-text" role="tooltip" id="tooltip-1">Реплицированные с зарубежных источников, исследования
            формируют глобальную сеть.</div>
        </div>
      </div>
      <form action="#" class="form glad__form" method="POST" enctype="multipart/form-data">
        <label class="form__label">
          <input class="input input-name glad__input input-effects" type="text" data-validate-field="name" name="Имя" placeholder="Введите имя">
        </label>
        <label class="form__label">
          <input class="input input-mail glad__input input-effects" type="email" data-validate-field="email" name="Email"
            placeholder="Введите email">
        </label>
        <label class="form__label">
          <input class="input input-tel glad__input input-effects" type="tel" data-validate-field="tel" name="Телефон"
            placeholder="Введите телефон">
        </label>
        <button class="glad__button primary-btn btn btn-reset" type="submit">Отправить</button>
        <label class="glad__form-label check">
          <input type="checkbox" data-validate-field="checkBox" class="check__input" checked>
          <span class="check__box">
            <svg class="check__marker" width="11" height="9" viewBox="0 0 11 9" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0.800049 4L3.96943 7.16939L9.65318 0.785645" stroke="white" stroke-width="2" />
            </svg>
          </span>
          <span>Принимаю</span>
          <a class="check__violet-text link-effects" href="#">
            пользовательское соглашение</a>
        </label>
      </form>
    </div>
  </div>
</section>
