<section class="hero">
  <h1 class="visually-hidden">Интернет-магазин SitDownPls</h1>
  <div class="container hero__container">
    <div class="swiper-hero-container swiper-container heroSwiper">
      <ul class="swiper-wrapper list-reset">
        <li class="swiper-slide swiper-slide_first">
          <p class="swiper-slide__text">Скидка 15% <br> на первую покупку</p>
          <a href="#" class="swiper-slide__btn primary-btn btn">Получить!</a>
        </li>
        <li class="swiper-slide swiper-slide_second">
          <p class="swiper-slide__text">1000+ аксессуаров <br> для дома</p>
          <a href="#" class="swiper-slide__btn primary-btn btn">Получить!</a>
        </li>
        <li class="swiper-slide swiper-slide_third">
          <p class="swiper-slide__text swiper-slide__text_three">Коллекция стильного <br> и яркого текстиля
          </p>
          <a href="#" class="swiper-slide__btn primary-btn btn">Получить!</a>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <a href="#" class="swiper-slide-mobile primary-btn btn">Получить!</a>
  </div>
</section>
