<section class="raiting">
  <div class="container raiting__container">
    <h2 class="raiting__title title">Высокий рейтинг</h2>
    <ul class="raiting__cards-list list-reset">
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">5.0</span>
          </div>
          <picture>
            <source srcset="/img/leather-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/leather-sofa.png" alt=""></picture>
          <h3 class="raiting-card__name card__name card-title">Диван кожаный <span
              class="raiting-card__name-model">“R-94”</span></h3>
          <p class="raiting-card__price card__price"> 94&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.9</span>
          </div>
          <picture>
            <source srcset="/img/apartec-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/apartec-sofa.png" alt="Диван апартековый"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван апартековый <span
              class="raiting-card__name-model">“T-75”</span></h3>
          <p class="raiting-card__price card__price"> 69&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.8</span>
          </div>
          <picture>
            <source srcset="/img/fabric-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/fabric-sofa.png" alt="Диван тканевый"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван тканевый <span
              class="raiting-card__name-model">“D-31”</span></h3>
          <p class="raiting-card__price card__price"> 28&nbsp;490&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.8</span>
          </div>
          <picture>
            <source srcset="/img/velor-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/velor-sofa.png" alt="Диван велюровый"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван велюровый <span
              class="raiting-card__name-model">“Y-68”</span></h3>
          <p class="raiting-card__price card__price"> 22&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.8</span>
          </div>
          <picture>
            <source srcset="/img/shinil-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/shinil-sofa.png" alt="Желтый диван из шинила"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван из&nbsp;шинила <span
              class="raiting-card__name-model">“W-95”</span></h3>
          <p class="raiting-card__price card__price"> 22&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.8</span>
          </div>
          <picture>
            <source srcset="/img/flock-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/flock-sofa.png" alt="Флоковый персиковый диван"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван флоковый <span
              class="raiting-card__name-model">“G-41”</span></h3>
          <p class="raiting-card__price card__price"> 17&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.8</span>
          </div>
          <picture>
            <source srcset="/img/shinil-grey-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/shinil-grey-sofa.png" alt="Серый шиниловый диван"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван шиниловый <span
              class="raiting-card__name-model">“V-43”</span></h3>
          <p class="raiting-card__price card__price"> 19&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.7</span>
          </div>
          <picture>
            <source srcset="/img/velur-dark-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/velur-dark-sofa.png" alt="Небольшой велюровый диван"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван велюровый <span
              class="raiting-card__name-model">“S-99”</span></h3>
          <p class="raiting-card__price card__price"> 19&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.7</span>
          </div>
          <picture>
            <source srcset="/img/fake-learthet.png" type="image/webp"><img class="raiting-card__image"
              src="/img/fake-learthet.png" alt="Желтый диван из кожзама"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван из кожзама
            <span class="raiting-card__name-model">“F-85”</span></h3>
          <p class="raiting-card__price card__price"> 26&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.6</span>
          </div>
          <picture>
            <source srcset="/img/flock-sofa2.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/flock-sofa2.png" alt="Флоковый диван"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван флоковый <span
              class="raiting-card__name-model">“H-64”</span></h3>
          <p class="raiting-card__price card__price"> 25&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.6</span>
          </div>
          <picture>
            <source srcset="/img/little-flock-sofa.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/little-flock-sofa.png" alt="Компактный, диван на два человека"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван флокоый<span
              class="raiting-card__name-model">“H-58”</span></h3>
          <p class="raiting-card__price card__price"> 23&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="raiting__cards-item">
        <article class="raiting-card card">
          <div class="raiting-card__grade-wrapper">
            <svg class="raiting__star">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="raiting-card__grade">4.6</span>
          </div>
          <picture>
            <source srcset="/img//big-brown-leather.webp" type="image/webp"><img class="raiting-card__image"
              src="/img/big-brown-leather.png" alt="Большой коричневый диван из кожзама"></picture>
          <h3 class="raiting-card__name card__name card-title">Диван из кожзама<span
              class="raiting-card__name-model">“R-43”</span></h3>
          <p class="raiting-card__price card__price"> 33&nbsp;990&nbsp;руб</p>
          <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
        </article>
      </li>
    </ul>
    <button class="raiting__more-button btn primary-btn">Смотреть больше товаров</button>
  </div>
</section>
