<section class="similar-products">
  <div class="container similar-products__container">
    <h2 class="title similar-products__title">Похожие товары</h2>
    <div class="similar-products__swiper-buttons swiper-buttons">
      <button
        class="similar-products__button similar-products__button_prev similar-products__button_rotate circle-btn circle-effects  swiper-button-prev btn btn-reset"
        aria-label="кнопка предидущий слайд">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
        </svg>
      </button>
      <button
        class="similar-products__button similar-products__button_next circle-btn circle-effects swiper-button-next btn btn-reset"
        aria-label="кнопка следующий слайд">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
        </svg>
      </button>
    </div>
    <div class="similar-products__swiper-wrappeer">
      <div class="swiper-container similarProductsSwiper">
        <ul class="swiper-wrapper list-reset">
          <li class="swiper-slide similar-products__slide">
            <article class="raiting-card card">
              <div class="raiting-card__grade-wrapper">
                <svg class="raiting__star">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <span class="raiting-card__grade">4.5</span>
              </div>
              <picture>
                <source srcset="/img/little-vilyr-sofa.webp" type="image/webp"><img class="raiting-card__image"
                  src="/img/little-vilyr-sofa.png" alt="Компактный диван из велюра"></picture>
              <h3 class="raiting-card__name card__name card-title">Диван из велюра
                <span class="raiting-card__name-model">“R-85”</span></h3>
              <p class="raiting-card__price card__price"> 34&nbsp;990&nbsp;руб</p>
              <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
            </article>
          </li>
          <li class="swiper-slide similar-products__slide">
            <article class="raiting-card card">
              <div class="raiting-card__grade-wrapper">
                <svg class="raiting__star">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <span class="raiting-card__grade">4.6</span>
              </div>
              <picture>
                <source srcset="/img/little-flock-sofa.webp" type="image/webp"><img class="raiting-card__image"
                  src="/img/little-flock-sofa.png" alt="Компактный, диван на два человека"></picture>
              <h3 class="raiting-card__name card__name card-title">Диван флокоый
                <span class="raiting-card__name-model">“H-58”</span></h3>
              <p class="raiting-card__price card__price"> 23&nbsp;990&nbsp;руб</p>
              <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
            </article>
          </li>
          <li class="swiper-slide similar-products__slide">
            <article class="raiting-card card">
              <div class="raiting-card__grade-wrapper">
                <svg class="raiting__star">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <span class="raiting-card__grade">4.5</span>
              </div>
              <picture>
                <source srcset="/img/blue-velyr-sofa.webp" type="image/webp"><img class="raiting-card__image"
                  src="/img/blue-velyr-sofa.png" alt="Большой диван из велюра"></picture>
              <h3 class="raiting-card__name card__name card-title">Диван велюровый
                <span class="raiting-card__name-model">“S-44”</span></h3>
              <p class="raiting-card__price card__price"> 19&nbsp;990&nbsp;руб</p>
              <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
            </article>
          </li>
          <li class="swiper-slide similar-products__slide">
            <article class="raiting-card card">
              <div class="raiting-card__grade-wrapper">
                <svg class="raiting__star">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <span class="raiting-card__grade">4.8</span>
              </div>
              <picture>
                <source srcset="/img/shinil-grey-sofa.webp" type="image/webp"><img class="raiting-card__image"
                  src="/img/shinil-grey-sofa.png" alt="Серый шиниловый диван"></picture>
              <h3 class="raiting-card__name card__name card-title">Диван шиниловый <span
                  class="raiting-card__name-model">“V-43”</span></h3>
              <p class="raiting-card__price card__price"> 19&nbsp;990&nbsp;руб</p>
              <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
            </article>
          </li>
          <li class="swiper-slide similar-products__slide">
            <article class="raiting-card card">
              <div class="raiting-card__grade-wrapper">
                <svg class="raiting__star">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <span class="raiting-card__grade">4.8</span>
              </div>
              <picture>
                <source srcset="/img/shinil-grey-sofa.webp" type="image/webp"><img class="raiting-card__image"
                  src="/img/shinil-grey-sofa.png" alt="Серый шиниловый диван"></picture>
              <h3 class="raiting-card__name card__name card-title">Диван шиниловый <span
                  class="raiting-card__name-model">“V-43”</span></h3>
              <p class="raiting-card__price card__price"> 19&nbsp;990&nbsp;руб</p>
              <a href="#" class="raiting-card__button card__button btn empty-btn">Купить</a>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
