<section class="top-categories">
  <div class="top-categories__container container">
    <h2 class="raiting__title title">Топ категории</h2>
    <ul class="top-categories__list list-reset">
      <li class="top-categories__item top-categories__item_sofas">
        <article class="top-categories__card sofas-card top-categories__card_sofas card">
          <div class="top-categories__models top-categories__models_big">
            <span class="top-categories__model-name">Прямые</span>
            <span class="top-categories__model-name">Угловые</span>
            <span class="top-categories__model-name">Модульные</span>
          </div>
          <a class="top-categories__name circle-effects card__name card-title">
            <span class="top-categories__name-text">Диваны</span>
            <svg class="top-categories__name-arrow" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="11" cy="11" r="10" stroke="#A65CF0" stroke-width="2" />
            </svg></a>
          <a href="#" class="top-categories__link circle-effects"> <span class="top-categories__link-text">В
              каталог</span>
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
            </svg>
          </a>
        </article>
      </li>
      <li class="top-categories__item top-categories__item_armchairs">
        <article class="top-categories__card armchairs-card top-categories__armchairs card">
          <div class="top-categories__models">
            <span class="top-categories__model-name">Мягкие</span>
            <span class="top-categories__model-name">Кресла-кровати</span>
          </div>
          <a class="top-categories__name circle-effects card__name card-title">
            <span class="top-categories__name-text">Кресла</span>
            <svg class="top-categories__name-arrow" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="11" cy="11" r="10" stroke="#A65CF0" stroke-width="2" />
            </svg></a>
          <a href="#" class="top-categories__link circle-effects"> <span class="top-categories__link-text">В
              каталог</span>
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
            </svg>
          </a>
        </article>
      </li>
      <li class="top-categories__item top-categories__item_beds">
        <article class="top-categories__card beds-card card">
          <div class="top-categories__models">
            <span class="top-categories__model-name">Односпальные</span>
            <span class="top-categories__model-name">Двуспальные</span>
          </div>
          <a class="top-categories__name circle-effects card__name card-title">
            <span class="top-categories__name-text">Кровати</span>
            <svg class="top-categories__name-arrow" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="11" cy="11" r="10" stroke="#A65CF0" stroke-width="2" />
            </svg></a>
          <a href="#" class="top-categories__link circle-effects"> <span class="top-categories__link-text">В
              каталог</span>
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
            </svg>
          </a>
        </article>
      </li>
      <li class="top-categories__item top-categories__item_pedestals">
        <article class="top-categories__card pedestals-card card">
          <div class="top-categories__models">
            <span class="top-categories__model-name">Тумбы</span>
            <span class="top-categories__model-name">Комоды</span>
          </div>
          <a class="top-categories__name circle-effects card__name card-title">
            <span class="top-categories__name-text">Тумбы и&nbsp;комоды</span>
            <svg class="top-categories__name-arrow" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="11" cy="11" r="10" stroke="#A65CF0" stroke-width="2" />
            </svg></a>
          <a href="#" class="top-categories__link circle-effects"> <span class="top-categories__link-text">В
              каталог</span>
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
            </svg>
          </a>
        </article>
      </li>
      <li class="top-categories__item top-categories__item_chairs">
        <article class="top-categories__card chairs-card card">
          <div class="top-categories__models">
            <span class="top-categories__model-name">Деревянные</span>
            <span class="top-categories__model-name">Металлокаркас</span>
          </div>
          <a class="top-categories__name circle-effects card__name card-title">
            <span class="top-categories__name-text">Стулья</span>
            <svg class="top-categories__name-arrow" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="11" cy="11" r="10" stroke="#A65CF0" stroke-width="2" />
            </svg></a>
          <a href="#" class="top-categories__link circle-effects"> <span class="top-categories__link-text">В
              каталог</span>
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
