<section class="useful">
  <div class="container useful__container">
    <h2 class="useful__title title">Полезное</h2>
    <div class="useful__swiper-buttons swiper-buttons">
      <button
        class="useful__button special__button_rotate circle-btn circle-effects  swiper-button-prev-useful btn btn-reset"
        aria-label="кнопка предидущий слайд">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
        </svg>
      </button>
      <button class="useful__button circle-btn circle-effects  swiper-button-next-useful btn btn-reset"
        aria-label="кнопка следующий слайд">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
        </svg>
      </button>
    </div>
    <div class="useful__swiper-wrappeer">
      <div class="swiper-container usefulSwiper">
        <ul class="swiper-wrapper list-reset">
          <li class="swiper-slide useful__slide">
            <article class="useful__card useful__card_first card">
              <p class="card__text">И нет сомнений, что сделанные на базе интернет&#8209;аналитики выводы представляют
                собой не что иное?</p>
              <a href="#" class="card__button btn empty-btn">Читать</a>
            </article>
          </li>
          <li class="swiper-slide useful__slide">
            <article class="useful__card useful__card_second card">
              <p class="card__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
              <a href="#" class="card__button btn empty-btn">Читать</a>
            </article>
          </li>
          <li class="swiper-slide useful__slide">
            <article class="useful__card useful__card_third card">
              <p class="card__text">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</p>
              <a href="#" class="card__button btn empty-btn">Читать</a>
            </article>
          </li>
          <li class="swiper-slide useful__slide">
            <article class="useful__card useful__card_fourth card">
              <p class="card__text">Прежде всего, консультация с широким активом однозначно фиксирует необходимость
                распределения?</p>
              <a href="#" class="card__button btn empty-btn">Читать</a>
            </article>
          </li>
          <li class="swiper-slide useful__slide">
            <article class="useful__card useful__card_fifth card">
              <p class="card__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
              <a href="#" class="card__button btn empty-btn">Читать</a>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
